{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <section id="benefits-grid" data-selector="section" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 100px; padding-bottom: 60px; border-bottom-width: 1px; border-bottom-color: rgb(232, 232, 232); background-repeat: repeat; background-size: auto; background-attachment: scroll;">
        <div class="container">
            <div class="editContent text-center" data-selector="Footer">
                <h2 class="title blueText textSatisfy" style="font-size: 44px; background-color: rgba(0, 0, 0, 0); margin-bottom: 60px; margin-top: 0px;">{{ 'mentions.cgv'|trans }}</h2>
            </div>
            <div class="row" style="margin-bottom: 60px;">
                <div class="col-sm-10 col-sm-offset-1" data-selector="Footer">
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 1. Dispositions générales et objet</span><br>
                        1.1.  Les présentes Conditions Générales de Vente de prestations de services (CGV) constituent l’accord régissant, pendant leur durée, les relations entre la SAS EXCELIENCE, société par actions simplifiée au capital de 1000 €, immatriculée au RCS de Paris sous le numéro 823970819 R.C.S Paris, dont le siège social est situé au 63 bld Soult 75012 Paris et ses clients (ci-après « les Stagiaires ») dans le cadre de la vente de prestations de services par la SAS EXCELIENCE.<br>
                        1.1.1. La SAS EXCELIENCE propose des sessions d’orientation et de préparation aux examens de l’enseignement supérieur et du baccalauréat de durées variables (« les Ateliers »).<br>
                        1.2.   Les présentes conditions générales s’appliquent à toute inscription effectuée à l’un des Ateliers et écartent toutes autres conditions générales antérieures à celles-ci. Elles ne peuvent être modifiées ou complétées qu’avec l’accord écrit de la SAS EXCELIENCE.<br>
                        1.3.  Toute inscription définitive ainsi que tout contrat conclu avec la SAS EXCELIENCE implique l’adhésion pleine, entière et sans réserve du client aux CGV ci-dessous. Le fait que la SAS EXCELIENCE ne mette pas en œuvre l’une ou l’autre des clauses établies en sa faveur dans les présentes conditions ne peut être interprété comme une renonciation de cette dernière à s’en prévaloir le cas échéant.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 2 : Conditions d’inscription</span><br>
                        Le processus d’inscription à nos Ateliers tel qu’il est défini sur le site internet www.excelience.fr pourra s’effectuer de deux façons :<br>
                        a) une inscription sur le site internet de la SAS EXCELIENCE par virement bancaire ou par chèque bancaire. Dans ce dernier cas, le règlement doit être parvenu à la SAS EXCELIENCE dans les quatre jours ouvrés suivants l’inscription pour que celle-ci soit définitivement validée.<br>
                        b) Une inscription par voie postale avec en retour à la SAS EXCELIENCE la fiche d’inscription ainsi que le règlement par chèque bancaire. Les inscriptions accompagnées d’un règlement partiel ne seront pas prises en considération par la SAS EXCELIENCE.<br>
                        L'inscription à un Atelier chez Excelience, dûment réglé, donne droit à la participation à cet Atelier. Excelience se réserve le droit de faire se dérouler les Ateliers en d'autres locaux que les siens, de confort et de praticité comparables à la condition de prévenir en temps et heure les étudiants concernés.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 3 : Prix</span><br>
                        3.1. Les prix des services proposés par la SAS EXCELIENCE sont ceux détaillés sur le site www.excelience.fr. Ils sont exprimés en euros et sont soumis à la TVA.<br>
                        3.2. Aucun Stagiaire ne sera admis à un Atelier s’il n’a pas effectué préalablement son règlement.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 4 : Facturation</span><br>
                        Toute inscription à l’un des Ateliers proposés par la SAS EXCELIENCE fera l’objet d’une facture. Celle-ci sera disponible après paiement intégral de l’Atelier et portera la mention acquittée.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 5 : Conditions d’annulation</span><br>
                        Article 5.1 : Annulation avant le début de l’Atelier<br>
                        Toute inscription annulée maximum 3 jours ouvrés avant le début de l’Atelier sera remboursée avec une retenue de 100 euros (correspondant aux frais de gestion administrative). Toute annulation doit faire l’objet d’une lettre écrite, datée et signée, par courrier recommandé avec avis de réception. Aucune annulation ne peut être reçue par téléphone ni par courrier électronique. Dans tous les cas, c’est la date de réception de la demande d’annulation qui est prise en compte. La non présentation le jour de l’Atelier ne constitue pas une annulation réglementaire.<br>
                        Le remboursement de l’intégralité des sommes versées dégage la SAS EXCELIENCE de toute responsabilité. Le remboursement sera effectué dans un délai de 3 mois à compter de la réception de la lettre recommandée avec accusé de réception<br>
                        Article 5.2. Annulation en cours de l’Atelier<br>
                        Une fois l’Atelier commencé, aucun remboursement n’est plus possible et ce, quel que soit le motif de l’annulation. Une absence même prolongée durant l’Atelier n’est pas considérée comme une démarche d’annulation et n’ouvre donc pas droit à un remboursement.<br>
                        Article 5.3. Changement de dates de préparation<br>
                        Il est possible, avec l’accord de la SAS EXCELIENCE, de changer la ou les dates des Ateliers et ce jusqu'à une semaine avant la date de l’Atelier.<br>
                        Article 5.4 : Annulation d’un Atelier du fait de la SAS EXCELIENCE<br>
                        La SAS EXCELIENCE se réserve le droit d’annuler un Atelier cinq jours ouvrés avant le début de ce dernier si le nombre de Stagiaires inscrits est inférieur à cinq. La SAS EXCELIENCE veillera à placer les Stagiaires dans d’autres Ateliers conformément aux disponibilités et contraintes de chacun. Dans le cas où aucune alternative de l’Atelier n’est trouvée pour un Stagiaire, la SAS EXCELIENCE remboursera l’intégralité des frais d’inscription. En aucun cas la SAS EXCELIENCE ne rembourse les frais de transport et/ou d’hébergement engagés par le Stagiaire.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 6 : Cas des Ateliers complets</span><br>
                        Article 6.1. Le nombre de places offertes étant limité, la SAS EXCELIENCE ne peut garantir aux candidats la participation à l’Atelier que dans la limite des places disponibles. Le nombre de Stagiaires par session de l’Atelier étant fixé et limité, la SAS EXCELIENCE se réserve le droit de refuser toute inscription parvenue par voie postale ou effectuée sur le site internet www.excelience.fr d’un Stagiaire voulant s’inscrire à un Atelier qu’elle propose dès l’instant où le nombre de Stagiaires inscrits pour la session de l’Atelier concernée aurait atteint sa pleine capacité.<br>
                        Article 6.2. Dans le cas d’une souscription à un Atelier complet, et dans l’impossibilité de proposer aux étudiants une offre alternative, LA SAS EXCELIENCE procédera au remboursement intégral des frais d’inscription. En aucun cas la SAS EXCELIENCE ne rembourse les frais de transport et/ou d’hébergement engagés par le Stagiaire.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 7 : retard ou défaut de paiement</span><br>
                        En cas de retard ou de défaut de paiement, la SAS EXCELIENCE se réserve le droit de ne pas accepter le Stagiaire et d’interrompre sa préparation.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 9 : garantie d’orientation</span><br>
                        9.1. La SAS EXCELIENCE ne propose pas de remboursement partiel ou total des frais de formation en cas d’échec dans l’orientation du Stagiaire. Elle ne s’engage à aucune obligation de résultat en matière d’orientation du Stagiaire.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 10 : éligibilité, inscription aux cursus de l’enseignement supérieur</span><br>
                        10.1. Chaque Stagiaire doit vérifier qu’il est bien éligible aux formations de l’enseignement supérieur qu’il souhaite viser. La SAS EXCELIENCE ne pourra en effet être tenue pour responsable si un élève ne pouvait en définitive, parce qu’inéligible, s’inscrire à la formation concernée.<br>
                        10.2. Chaque Stagiaire doit vérifier le (niveau de) diplôme requis pour intégrer l’école à laquelle il est candidat et s’assurer qu’il le détient. La SAS EXCELIENCE ne pourra être tenue pour responsable si un élève accompagné par elle et admis à ce dernier ne pouvait en définitive intégrer l’école en raison de la non validation du diplôme requis.<br>
                        10.3. Chaque élève doit lui-même s’inscrire au (x) formations au(x)quelle(s) il souhaite se porter candidat. La SAS EXCELIENCE ne pourra être tenue pour responsable dans le cas où un élève ayant suivi un des accompagnements ne s’inscrirait pas au(x) formations au(x) quelle(s) il souhaite être candidat.<br>
                        10.4. La SAS Excelience ne peut être tenu pour responsable si l’élève n’est pas admis aux formations qu’il souhaite rejoindre et ce malgré l’accompagnement de la SAS EXCELIENCE.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 11 : Utilisation des ressources pédagogiques mises à la disposition des étudiants et propriété intellectuelle</span><br>
                        11.1. Nos œuvres pédagogiques sont protégées par les lois relatives à la propriété intellectuelle quelle que soit la nature du support. Sauf autorisation expresse de la SAS EXCELIENCE et sous réserve des exceptions légales, est interdite toute exploitation, notamment toute reproduction, représentation, adaptation, communication au public, mise à disposition du public, totale ou partielle, sous quelque forme et par quelque procédé que ce soit et de façon générale, toute utilisation autre que celle pour laquelle elle est réservée.<br>
                        11.2. Toute reproduction ou diffusion à des tiers de tout ou partie des ressources évoquées en 11.1 est interdite. Elle donnera lieu à l’exclusion immédiate et définitive de l’élève, sans remboursement et à des poursuites judiciaires.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 12 : Déplacement/ Annulation des sessions pour raisons extérieures à la SAS EXCELIENCE</span><br>
                        En cas de notamment catastrophe sanitaire obligeant à décaler ou à annuler les cours, de grève empêchant les responsables de la SAS EXCELIENCE de rejoindre les locaux prévus pour dispenser les cours ou de tout autre évènement indépendant de la volonté de la SAS EXCELIENCE, celle-ci s’engage à proposer d’autres dates de Ateliers aux Stagiaires.<br>
                        Article 13 : Assurances<br>
                        Les Stagiaires inscrits aux Ateliers de la SAS EXCELIENCE doivent prendre toutes les assurances nécessaires afin d’être couverts durant leur présence dans les locaux mis à leur disposition pour leur Atelier. La SAS EXCELIENCE ne peut être tenue pour responsable de toute perte, dommage ou incident survenant directement ou indirectement durant leur présence sur les lieux de l’Atelier, de tout événement survenant alors que les Stagiaires ont quitté les locaux.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 14 : Respect de la charte de bonne conduite</span><br>
                        Les Stagiaires doivent être respectueux envers les professeurs, le personnel d’encadrement ainsi que des locaux mis à leur disposition pour leur Atelier. Les Stagiaires doivent prendre connaissance du règlement intérieur remis lors de l’envoi de leur pack d’inscription. Tout manquement grave à cette consigne pourrait entraîner l’exclusion définitive de l’Atelier.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 15 : Autorisation de diffusion d’images</span><br>
                        Les Stagiaires de la SAS EXCELIENCE peuvent être amenés à être photographiés ou filmés.<br>
                        Les Stagiaires acceptent l’utilisation et l’exploitation non commerciale de leur image dans le cadre de la promotion des Ateliers d’accompagnement à l’orientation, notamment sur le site internet de la SAS EXCELIENCE, ainsi que leur reproduction sur quelque support que ce soit (papier, support analogique ou numérique) actuel ou future et ce, pour la durée de vie des documents réalisés.<br>
                        Les Stagiaires renoncent également à se prévaloir d’un quelconque droit à l’image et à toute action à l’encontre de la SAS EXCELIENCE qui trouverait son origine dans l’exploitation de leur image dans le cadre précité<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 16 : Protection des données à caractère personnel</span><br>
                        Les informations à caractère personnel qui sont collectées sont uniquement utilisées par la SAS EXCELIENCE ou ses partenaires. Conformément à l’article 32 de la loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification et de suppression des informations vous concernant à exercer à tout moment auprès de la SAS EXCELIENCE.<br>
                    <p>
                    <p data-selector="p" style="color: black; font-size: 17px; background-color: rgba(0, 0, 0, 0);">
                        <span style="font-weight: bold; font-size: 21px;">Article 17 : Litiges</span><br>
                        Les présentes CGV sont régies par le droit français.<br>
                        En cas de litige lié à l’interprétation ou l’exécution des présentes CGV, les parties s’engagent à tenter une résolution amiable avant toute action devant les tribunaux.<br>
                        Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation (article L 534-7 du Code de la consommation) ou auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.<br>
                        La nullité de l’une des clauses ou d’une partie d’une clause des présentes Conditions Générales de Vente n’entraine aucunement nullité de l’intégralité des présentes Conditions Générales de Vente, qui en conséquence continuent de s’appliquer.<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}