.body {
    margin: 0;
}
.nav-tabs-round > li.active > a, .nav-tabs-round > li.active > a:hover, .nav-tabs-round > li.active > a:focus {
    color: white;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    color: white;
}

@media (min-width: 992px) {
    .navbar .nav li a {
        color: rgba(255, 255, 255, 0.75);
    }
}

.navbar-toggle .icon-bar {
    background: white;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: white;
}

.navbar .nav li a:hover, .navbar .nav li.active a {
    color: white;
}

nav.navbar {
    background-color: transparent !important;
}

.navbar .nav li:hover, .navbar .nav li.active {
    background-color: transparent !important;
}