.body {
    margin: 0;
}
.nav-tabs-round > li.active > a, .nav-tabs-round > li.active > a:hover, .nav-tabs-round > li.active > a:focus {
    color: rgb(0, 175, 255);
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    color: rgb(0, 175, 255);
}

@media (min-width: 992px) {
    .navbar .nav li a {
        color: rgb(0, 175, 255);
    }
}

.navbar-toggle .icon-bar {
    background: white;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: rgb(0, 175, 255);
}

.navbar .nav li a:hover, .navbar .nav li.active a {
    color: rgb(0, 175, 255);
}

nav.navbar {
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.navbar .nav li:hover, .navbar .nav li.active {
    background-color: transparent !important;
}